.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}
.header__logo {
  margin-right: 24px;
}
.header__date-and-location {
  font-family: "Cabinet Grotesk", Helvetic, Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  margin: 0;
  max-width: fit-content;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
.header__add-clothes-btn {
  font-family: "Cabinet Grotesk", Helvetic, Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  margin-right: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.header__username {
  font-family: "Cabinet Grotesk", Helvetic, Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  margin: 0;
  max-width: fit-content;
}
.header__signup-btn {
  font-family: "Cabinet Grotesk", Helvetic, Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  margin-right: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.header__login-btn {
  font-family: "Cabinet Grotesk", Helvetic, Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  margin-right: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}
